{% include header.html %}

<div class="hero is-red">
    <div class="hero-body">
        <img src="assets/Hacktoberfest_2018_editable_poster1_2134x1068.png" alt="">
    </div>
</div>

<hr>

{% for post in site.posts %}
    <h1 class="title is-1 has-text-centered">
        {{ post.title }}
    </h1>
    
    <div class="has-text-centered">
        {{ post.content }}
    </div>
    <div class="social-share">
        <h2 class="subtitle is-4">Share this post:</h2>
        <a href="https://twitter.com/share?url={{ page.url }}&text={{ post.title }}" class="button is-link">Twitter</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url }}" class="button is-link">Facebook</a>
    </div>
    
    <hr>
{% endfor %}

{% include footer.html %}
